@{
    ViewBag.Title = "Index";
}

<div id="sensors" class="row">

</div>
@Scripts.Render("~/bundles/sensors")
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
